[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/heads/*"]
	label-Approved = +0..+1 group Eng Managers
	label-Approved = +0..+1 group contrail-analytics-core
	label-Code-Review = -2..+2 group Eng Managers
	label-Code-Review = -2..+2 group contrail-analytics-core
